@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


/*===================color-palette===================*/
$dark: #252525;
$gray: #9e9e9e;
$dark-gray: #363636;
$social-gray: #636363;
$orange: #f26522;
$red: #ff0000;
$yellow: #fffc00;
$green: #00ff0c;